<%- include('../layouts/auth/header') %>

    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="javascript:" class="h1"><b>Admin Panel</b></a>
        </div>
        <div class="card-body">
            <form action="admin/login" method="post">
                <div class="input-group mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <!-- <div class="alert alert-danger" role="alert">
                        <strong></strong>
                    </div> -->
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <!-- <div class="alert alert-danger" role="alert">
                        <strong></strong>
                    </div> -->
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <%- include('../layouts/auth/footer') %>